
@{
    ViewBag.Title = "Boking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>Boking Kosan H.Gandi</h2>
</center>
<hr />
<br />

<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nama Perwakilan">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Number Telphone">
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Major ex*(IT 2019)">
        </div>
    </div>
    <br />
    <center>
        <h4>Available Room</h4>
    </center>
    <div class="form-row">
        <div class="col">
            <select class="form-control" aria-label="Default select example">
                <option selected>Floor</option>
                <option value="1">One</option>
                <option value="2">Two</option>

            </select>
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="">
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col">
            <center>
                <label>Start</label><br />
            </center>
            <input type="date" class="form-control" name="birthdaytime" placeholder="Start">
        </div>
        <div class="col">
            <center>
                <label>End</label><br />
            </center>
            <input type="date" class="form-control" name="birthdaytime" placeholder="End">
        </div>
    </div>
    <br />
    <div class="form-row">
        <div class="col">
           
        </div>
        <div class="col">
            <input type="button" class="form-control btn-primary" value="BOOKING">
        </div>
    </div>
</form>
