
@{
    ViewBag.Title = "Index";
}

<center>
    
    <img src="~/additional-file/images/bg.jpg" class="img-fluid" alt="Responsive image" width="900">
</center>
<hr />
<center>
    <h1>AVAILABLE NOW</h1>
</center>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/additional-file/images/FRM09_01.jpg" alt="Card image cap">
    <div class="card-body">
        <center>
            <h5 class="card-title">Kosan Gandi</h5>
            <p class="card-text">RP.1.300.000/Bulan.</p>
            <a href="Detail" class="btn btn-primary">Detail</a>
        </center>
    </div>
</div>


